@import '../../styles/variables.scss';

// Local variables should be computed based on default
$paddingFooterHorizontal: $sectionOffsetHorizontal;
$paddingFooterVertical: ($footerHeight - $lineHeight) / 2;

.footer {
  background-color: $colorSectionBG;
  color: $colorSectionText;
  height: $footerHeight;
  display: flex;
  align-items: center;
  padding: $paddingFooterVertical $paddingFooterHorizontal;
};
.title {
  color: $colorSectionText,
};